body{
    margin: 0;
    padding: 0;
}
.container-full{
    width: 100%;
    height: 740px;
    /*background-color: green;*/
    overflow: hidden;
    float: left;
}
.container-full .container-header{
    width: 100%;
    height: 90px;
    background-color: whitesmoke;
    float: left;
}
.container-full .container-header .header{
    width: 90%;
    height: 100%;
    /*background-color: blue;*/
    margin: auto;
}
.container-full .container-header .header .logo{
    width: 10%;
    height: 100%;
    /*background-color: red;*/
    float: left;
}
.container-full .container-header .header .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.container-full .container-header .header .menu{
    width: 60%;
    height: 100%;
    /*background-color: red;*/
    float: left;
    margin-left: 10%;
}
.container-full .container-header .header .menu .fa-xmark{
    display: none;
}
.container-full .container-header .header .menu ul{
    list-style-type: none;
}
.container-full .container-header .header .menu ul li{
    float: left;
    margin: 0;
    padding: 0;
}
.container-full .container-header .header .menu ul li a{
    text-decoration: none;
    padding: 15px;
    display: block;
    font-size: 18px;
    transition: 0.7s;
    font-family: 'Ubuntu', sans-serif;
}
.container-full .container-header .header .menu ul li a:hover{
    transform: scale(1.2);
    color: red;
}
.container-full .container-header .header .menu ul .learn-more{
    width: 150px;
    height: 50px;
    /*background-color: green;*/
    float: left;
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 1px grey;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: 1s;
    cursor: pointer;
    transform: translateY(-15px);
}
.container-full .container-header .header .menu ul .learn-more:hover{
    transform: scale(.85);
    transform: translateY(-15px);
}
.container-full .container-header .header .menu ul .learn-more p{
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.container-full .container-header .header .icon{
    width: 10%;
    height: 100%;
    /*background-color: red;*/
    float: left;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.6s;
}
.container-full .container-header .header .icon i{
    font-size: 25px;
    margin-left: 15px;
    transition: 0.7s;
}
.container-full .container-header .header .icon  a .fa-user{
    color: black;
 }
.container-full .container-header .header .icon i:hover{
    transform: scale(.85);
    color: red;
}
.container-full .container-slider{
    width: 100%;
    height: 650px;
    /*background-color: pink;*/
    float: left;
    background-image: url('1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.container-full .container-slider .fa-solid{
    font-size: 55px;
    margin-top: 280px;
    margin-left: 20px;
    transition: 0.8s;
    cursor: pointer;
}
.container-full .container-slider .fa-solid:hover{
    color: red;
}
.container-full .container-slider .fa-angle-right{
    transform: translateX(1390px);
}
.container-full .container-slider .circle-icon{
    width: 100px;
    height: 40px;
    /*background-color: green;*/
    margin: auto;
    transform: translateY(250px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.container-full .container-slider .circle-icon i{
    font-size: 25px;
    margin-left:5px;
    transition: 0.8s;
}
.container-full .container-slider .circle-icon i:hover{
    background-color: red;
    border-radius: 50%;
}
.container-middle{
    width: 100%;
    height: 550px;
    /*background-color: green;*/
    float: left;
    overflow-x: hidden;
}
.container-middle .middle-tittle{
    width: 300px;
    height: 100px;
    /*background-color: red;*/
    margin: auto;
    margin-top: 3%;
}
.container-middle .middle-tittle h1{
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
.container-middle .middle-sell{
    width: 90%;
    height: 350px;
    /*background-color: red;*/
    margin: auto;
}
.container-middle .middle-sell .s1{
    width: 12.5%;
    height: 90%;
    /*background-color: wheat;*/
    float: left;
    margin-left: 4%;
}
.container-middle .middle-sell .s1 .product{
    width: 100%;
    height: 73%;
    /*background-color: aquamarine;*/
    float: left;
}
.container-middle .middle-sell .s1  .product .pay{
    width: 50px;
    height: 30px;
    background-color: rgb(192, 248, 108);
    float: right;
    transform: translateY(-50px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.6s;
}
.container-middle .middle-sell .s1  .product .pay p{
    color: white;
    transition: 0.7s;
}
.container-middle .middle-sell .s1  .product .pay p:hover{
    color: red;
    transform: scale(1.1);
}
.container-middle .middle-sell .s1 .product img{
    width: 100%;
    height: 100%;
    object-fit:scale-down;
    transition: 0.6s;
}
.container-middle .middle-sell .s1 .product img:hover{
    transform: scale(.95);
}
.container-middle .middle-sell .s1 .price{
    width: 100%;
    height: 30%;
    /*background-color: blue;*/
    float: left;
}
.container-middle .middle-sell .s1 .price i{
    font-size: 18px;
    color: yellow;
    transform: translateX(10px);
}
.container-middle .middle-sell .s1 .price p{
    text-align: center;
    font-size: 18px;
}
.container-middle .middle-sell .s1 .price p span{
    color: red;
    font-size: 22px;
}
.container-sock{
    width: 100%;
    height: 900px;
    /*background-color: green;*/
    margin: auto;
    overflow: hidden;
}
.container-sock .tittle-sock{
    width: 100%;
    height: 100px;
    /*background-color: pink;*/
    float: left;
    margin-left: 8%;
}
.container-sock .tittle-sock h1{
    font-size: 35px;
    color: rgb(20, 19, 19);
    font-family: 'Ubuntu', sans-serif;
}
.container-sock .sock-sell{
    width: 90%;
    height: 700px;
    /*background-color: pink;*/
    float: left;
    margin-left: 8%;
}
.container-sock .sock-sell .main-s1{
    width: 100%;
    height: 330px;
    /*background-color: blue;*/
    float: left;
    margin-top: 2%;
}
.container-sock .sock-sell .main-s1 .s1{
    width: 23%;
    height: 100%;
    /*background-color: aquamarine;*/
    float: left;
    margin-left: 1%;
}
.container-sock .sock-sell .main-s1 .s1 .sock-pic{
    width: 100%;
    height: 70%;
    /*background-color: green;*/
    float: left;
}
.container-sock .sock-sell .main-s1 .s1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.6s;
}
.container-sock .sock-sell .main-s1 .s1 img:hover{
    transform: scale(.95);
}
.container-sock .sock-sell .main-s1 .s1 .sock-price{
    width: 100%;
    height: 29%;
    /*background-color: red;*/
    float: left;
    margin-top: 0.5%;
}
.container-sock .sock-sell .main-s1 .s1 .sock-price p{
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
}
.container-sock .sock-sell .main-s1 .s1 .sock-price .buy-now{
    width: 100px;
    height: 30px;
    background-color: green;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.6s;
}
.container-sock .sock-sell .main-s1 .s1 .sock-price .buy-now:hover{
    transform: translateX(20px);
    background-color: rgb(246, 15, 11);
    
}
.container-sock .sock-sell .main-s1 .s1 .sock-price .buy-now p{
    color: white;
    margin-left: 7px;
    transition: 0.6s;
}
.container-sock .sock-sell .main-s1 .s1 .sock-price .buy-now p:hover{
    color: rgb(251, 251, 251);
    transform: scale(1.1);
}
.container-sock .sock-sell .main-s1 .s1 .sock-price .buy-now a {
    text-decoration: none;
}
.container-sock .sock-sell .main-s2{
    width: 100%;
    height: 330px;
    /*background-color: blue;*/
    float: left;
    margin-top: 2%;
}
.container-sock .sock-sell .main-s2 .s1{
    width: 23%;
    height: 100%;
    /*background-color: aquamarine;*/
    float: left;
    margin-left: 1%;
}
.container-sock .sock-sell .main-s2 .s1 .sock-pic{
    width: 100%;
    height: 70%;
    /*background-color: green;*/
    float: left;
}
.container-sock .sock-sell .main-s2 .s1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.6s;
}
.container-sock .sock-sell .main-s2 .s1 img:hover{
    transform: scale(.95);
}
.container-sock .sock-sell .main-s2 .s1 .sock-price{
    width: 100%;
    height: 29%;
    /*background-color: red;*/
    float: left;
    margin-top: 0.5%;
}
.container-sock .sock-sell .main-s2 .s1 .sock-price p{
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
}
.container-sock .sock-sell .main-s2 .s1 .sock-price .buy-now{
    width: 100px;
    height: 30px;
    background-color: green;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.6s;
}
.container-sock .sock-sell .main-s2 .s1 .sock-price .buy-now:hover{
    transform: translateX(20px);
    background-color: rgb(246, 15, 11);
    
}
.container-sock .sock-sell .main-s2 .s1 .sock-price .buy-now p{
    color: white;
    margin-left: 7px;
    transition: 0.6s;
}
.container-sock .sock-sell .main-s2 .s1 .sock-price .buy-now p:hover{
    color: rgb(251, 251, 251);
    transform: scale(1.1);
}
.container-sock .sock-sell .main-s2 .s1 .sock-price .buy-now a {
    text-decoration: none;
}






.container-footer{
    width: 100%;
    height: 500px;
    background-color: black;
    float: left;
}
.container-footer .footer{
    width: 90%;
    height: 100%;
    background-color: green;
    margin: auto;
}
.container-footer .footer .f1{
    width: 30%;
    height: 100%;
    background-color: pink;
    float: left;
}
.container-footer .footer .f1 .tittle-footer{
    width: 100%;
    height: 100px;
    background-color: red;
    float: left;
}
.container-footer .footer .f1 .tittle-footer h1{
    font-size: 30px;
    color: white;
}
.container-footer .footer .f1 .contact{
    width: 100%;
    height: 65%;
    background-color: red;
    margin-top: 5%;
    float: left;
}




@media (max-width: 575.98px) {
   
    .container-full .container-header .header .logo{
        height: 100%;
        width: 25%;
        transform: translateX(170px);
    }
    
    .container-full .container-header .header .menu{
        height: 500px;
        background-color: whitesmoke;
        margin-top: 90px;
        transform: translateX(-200px);
        box-shadow: 0px 0px 1px 1px grey;
        display: none;
        z-index: 999;
    }
    .container-full .container-header .header .menu .fa-xmark{
        display: block;
        margin-left: 205px;
        transform: translateY(-35px);
        font-size: 20px;
        cursor: pointer;
    }
    .container-full .container-header .header .menu ul{
        margin-top: 50px;
    }
    .container-full .container-header .header .menu ul li{
        float: none;
        margin-top: 7px;
    }
    .container-full .container-header .header .menu ul li a:hover{
        transform: scale(1.2);
        
    }
    .container-full .container-header .header .menu ul .learn-more{
        width: 130px;
        height: 40px;
        margin-left: 3px;
    }
    .container-full .container-header .header .icon{
        transform: translateX(-140px);
    }
    .container-full .container-header .header .icon  a .fa-user{
       transform: translateX(405px);
       color: black;
       transition: 0.7;
    }
    .container-full .container-header .header .icon  a .fa-user:hover{
        transform: scale(.85);
        transform: translateX(405px);
        color: red;
    }
    .container-full .container-header .header .icon  .fa-cart-shopping{
        transform: translateX(325px);
        transition: 0.6s;
    }
    .container-full .container-header .header .icon  .fa-cart-shopping:hover{
        transform: scale(.85);
        color: red;
        transform: translateX(325px);
       
    }
    .container-full .container-slider .fa-angle-left{
        transform: translateY(-150px);
        font-size: 40px;
    }
    .container-full .container-slider .fa-angle-right{
        margin-left: 450px;
        transform: translateY(-470px);
        font-size: 40px;
    }
    .container-full .container-slider .circle-icon{
        transform: translateY(-340px);
        color:red;
    }
    .container-full .container-slider .circle-icon .fa-circle{
        font-size: 20px;
    }
    .container-full .container-slider{
        background-size: 100%;
        height: 330px;
    }





    .container-middle{
        transform: translateY(-100px);
        overflow-y: hidden;
        height: 1200px;
        /*background-color: green;*/
    }
    .container-middle .middle-sell .s1{
        width: 45%;
        margin-top: 7%;
    }
    .container-middle .middle-sell .s1 .price i{
        transform: translateX(20px);
    }
    .container-sock{
        height: 1700px;
    }
    /*.container-sock .sock-sell{
       
    }*/
    .container-sock .sock-sell .main-s1 .s1{
        width: 46%;
        margin-left: 3%;
        margin-top: 7%;
    }
    .container-sock .sock-sell .main-s2 .s1{
        width: 46%;
        margin-left: 3%;
        margin-top: 7%;
    }
    .container-sock .sock-sell .main-s2{
       transform: translateY(410px);   
    }
}